<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>View Students Remarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon
            class="text-white"
            [ios]="'menu-sharp'"
            [md]="'menu-sharp'"
          ></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>View Students Remarks</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card-body card_body">
    <form
      name="form"
      #f="ngForm"
      novalidate
      (ngSubmit)="f.form.valid && onSubmit(f)"
    >
      <div style="margin-top: 12px">Select Class</div>
      <ion-item class="dropdown_select" style="margin: 0px">
        <ion-input
          readonly
          [placeholder]="className"
          (click)="openOptions(classs, select_datas.class, 'Class', false)"
        >
          <ion-icon
            name="caret-down"
            style="margin-left: 10%; opacity: 0.5; position: absolute"
          ></ion-icon>
        </ion-input>
        <ion-input hidden="true"></ion-input>
      </ion-item>

      <div style="margin-top: 25px">Select Subject</div>
      <ion-item class="dropdown_select" style="margin: 0px">
        <ion-input
          readonly
          [placeholder]="SubjectName"
          (click)="
            openOptions(subjects, select_datas.subject, 'Subject', false)
          "
        >
          <ion-icon
            name="caret-down"
            style="margin-left: 10%; opacity: 0.5; position: absolute"
          ></ion-icon>
        </ion-input>
        <ion-input hidden="true"></ion-input>
      </ion-item>

      <div class="p-2 text-right">
        <button type="submit" class="btn btn-primary" style="width: 100%">
          Submit
        </button>
      </div>
    </form>
  </div>

  <div class="m-3">
    <div>
      <div class="dateHead" *ngIf="studentRemarks?.length > 0">Remarks</div>
      <table class="table table-bordered" *ngFor="let data of studentRemarks">
        <tbody>
          <tr>
            <td width="30%">
              <div class="txtCenter topBg">{{ data.name }}</div>
              <div class="txtCenter" style="font-size: 14px">
                {{ data.CLASSSEC }}
              </div>
            </td>
            <td width="60%" class="textleft multi_lines_text">
              <span>{{ data.message }}</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="
          isFormSubmitted && (!studentRemarks || studentRemarks.length === 0)
        "
        class="no-remarks-message"
      >
        No Remarks Available for this Class
      </div>
    </div>
  </div>
</ion-content>
