<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Add Students Remarks</ion-title>
    <ion-buttons slot="end">
      <ion-button routerDirection="root" routerLink="/dashboard" lines="none" detail="false"
        routerLinkActive="selected">
        <ion-icon name="grid" style="height: 24px; width: 24px"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-body card_body">
    <form name="form" #f="ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit(f)">
      <div style="margin-top: 12px">Select Class</div>

      <ion-item class="dropdown_select" style="margin: 0px">
        <ion-input readonly [placeholder]="ClassName" (click)="openOptions(classs, select_datas.class, 'Class', false)">
          <ion-icon name="caret-down" style="margin-left: 10%; opacity: 0.5; position: absolute"></ion-icon>
        </ion-input>
        <ion-input hidden="true"></ion-input>
      </ion-item>

      <div style="margin-top: 25px">Select Students</div>

      <ion-item class="dropdown_select" style="margin: 0px">
        <ion-input readonly [placeholder]="StudentsName" (click)="
            openOptions(students, select_datas.student, 'Students', true)
          ">
          <ion-icon name="caret-down" style="margin-left: 10%; opacity: 0.5; position: absolute"></ion-icon>
        </ion-input>
        <ion-input hidden="true"></ion-input>
      </ion-item>

      <div style="margin-top: 25px">Select Subject</div>

      <ion-item class="dropdown_select" style="margin: 0px">
        <ion-input readonly [placeholder]="SubjectName"
          (click)="openOptions(subjects, select_datas.subject, 'Subject', true)">
          <ion-icon name="caret-down" style="margin-left: 10%; opacity: 0.5; position: absolute"></ion-icon>
        </ion-input>
        <ion-input hidden="true"></ion-input>
      </ion-item>

      <div style="margin-top: 25px">Enter Message Here</div>
      <ion-item lines="full" class="messageArea" style="height: 95px">
        <ion-textarea type="text" name="message" [(ngModel)]="select_datas.message" #message="ngModel">
        </ion-textarea>
      </ion-item>

      <div class="p-2 text-right">
        <button type="submit" class="btn btn-primary" style="width: 100%">
          {{ "save" | translate }}
        </button>
      </div>
    </form>
  </div>

  <div class="m-3">
    <div class="dateHead" *ngIf="studentRemarks?.length > 0">Remarks</div>
    <div *ngFor="let d of studentRemarks; let i = index">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td width="30%">
              <div class="txtCenter topBg">{{ d.name }}</div>
              <div class="txtCenter" style="font-size: 14px">
                {{ d.CLASSSEC }}
              </div>
            </td>
            <td width="60%" class="textleft multi_lines_text">
              <span>{{ d.message }}</span>
              <br *ngIf="d.event_image && d.event_image.length > 0" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>