<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "Report Card" | translate }}</ion-title>

    <ion-buttons slot="end">
      <ion-button routerDirection="root" routerLink="/dashboard" lines="none" detail="false"
        routerLinkActive="selected">
        <ion-icon name="grid" style="height: 24px; width: 24px"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>