<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "homework" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon
            class="text-white"
            [ios]="'menu-sharp'"
            [md]="'menu-sharp'"
          ></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>{{ "homework" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="homework">
    <div class="">
      <div class="card-header">
        {{ "send_homework_to_classes" | translate }}
      </div>
      <div class="card-body card_body">
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit(f)"
          #f="ngForm"
          novalidate
          class="border border-primary"
        >
          <ion-item>
            <ion-label>{{ "class" | translate }}</ion-label>
            <ionic-selectable
              #portComponent
              name="class"
              item-content
              [(ngModel)]="select_datas.class"
              itemValueField="id"
              itemTextField="name"
              [items]="classs"
              [canSearch]="true"
              [hasVirtualScroll]="true"
              [isMultiple]="true"
              (onChange)="classChange($event)"
              #class="ngModel"
              required
            >
              <ng-template ionicSelectableValueTemplate let-ports="value">
                <div class="ionic-selectable-value-item">
                  {{ formatPorts(select_datas.class) }}
                </div>
              </ng-template>
              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon
                  [md]="'close-circle'"
                  [ios]="'close-circle'"
                  style="font-size: 24px"
                ></ion-icon>
              </ng-template>
              <ng-template ionicSelectableFooterTemplate>
                <ion-toolbar>
                  <ion-row>
                    <ion-col [size]="4">
                      <ion-button expand="full" (click)="toggleItems(true)">
                        Select All
                      </ion-button>
                    </ion-col>
                    <ion-col [size]="4">
                      <ion-button expand="full" (click)="toggleItems(false)">
                        Deselect All
                      </ion-button>
                    </ion-col>
                    <ion-col [size]="4">
                      <ion-button expand="full" (click)="confirm()">
                        OK
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-toolbar>
              </ng-template>
            </ionic-selectable>
          </ion-item>
          <span *ngIf="f.submitted && class.invalid" class="text-danger"
            >Select Class</span
          >
          <!-- <ion-item>
            <ion-label>{{ "date" | translate }}</ion-label>
            <ion-datetime
              name="s_date"
              displayFormat="DD/MM/YYYY"
              pickerFormat="DD/MM/YYYY"
              [(ngModel)]="select_datas.s_date"
              #s_date="ngModel"
              required
            ></ion-datetime>
          </ion-item> -->

          <ion-item lines="full">
            <ion-label
              id="open-modal"
              class="selected-date"
              *ngIf="select_datas.s_date"
            >
              <span style="float: left">{{ "date" | translate }}</span>

              <span style="float: right">
                {{ formatDate(select_datas.s_date) }}</span
              >
            </ion-label>

            <ion-modal
              trigger="open-modal"
              (willDismiss)="onWillDismiss($event, 'first')"
              [initialBreakpoint]="0.5"
              [breakpoints]="[0, 0.25, 0.5, 0.75]"
              animated="true"
            >
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="cancel_date()">{{
                        "cancel" | translate
                      }}</ion-button>
                    </ion-buttons>
                    <ion-title>{{ "select_date" | translate }}</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="confirm_date()" [strong]="true">{{
                        "confirm" | translate
                      }}</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <ion-datetime
                    name="dob"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD/MM/YYYY"
                    [(ngModel)]="select_datas.s_date"
                    #dob="ngModel"
                    presentation="date"
                    mode="md"
                    #datetime
                    (ionChange)="showHideDatePicker()"
                    required
                  >
                  </ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item>
            <ion-label>{{ "subject" | translate }}</ion-label>
            <ionic-selectable
              name="subject"
              item-content
              [(ngModel)]="select_datas.subject"
              itemValueField="id"
              itemTextField="name"
              [items]="subjects"
              [canSearch]="true"
              #subject="ngModel"
              required
            >
              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon
                  [md]="'close-circle'"
                  [ios]="'close-circle'"
                  style="font-size: 24px"
                ></ion-icon>
              </ng-template>
            </ionic-selectable>
          </ion-item>
          <span *ngIf="f.submitted && subject.invalid" class="text-danger"
            >Select Subject</span
          >
          <ion-item>
            <ion-label>{{ "message" | translate }}</ion-label>
          </ion-item>
          <ion-item lines="full">
            <ion-textarea
              type="text"
              name="message"
              [(ngModel)]="select_datas.message"
              #message="ngModel"
              placeholder="Type Here"
              [required]="select_datas.filename.length === 0"
            >
            </ion-textarea>
          </ion-item>
          <span *ngIf="f.submitted && message.invalid" class="text-danger"
            >Enter Message</span
          >
          <ion-item lines="full">
            <div class="row w-100 align-items-center text-center">
              <div class="col-6" *ngIf="select_datas.filename.length === 0">
                <img
                  alt=""
                  style="width: 30px"
                  src="../../assets/imgs/speakers/attachment.png"
                  (click)="open()"
                />
              </div>
              <div class="col-6" *ngIf="select_datas.filename.length === 0">
                <img
                  alt=""
                  style="
                    width: 30px;
                    filter: invert(58%) sepia(16%) saturate(2009%)
                      hue-rotate(81deg) brightness(88%) contrast(86%);
                  "
                  src="../../assets/imgs/speakers/microphone.png"
                  (click)="onStartRecording()"
                  *ngIf="!recording"
                />
                <span
                  class="text-success"
                  *ngIf="!recording"
                  (click)="onStartRecording()"
                >
                  Start</span
                >
                <img
                  alt=""
                  style="
                    width: 30px;
                    filter: invert(13%) sepia(100%) saturate(6859%)
                      hue-rotate(358deg) brightness(119%) contrast(120%);
                  "
                  src="../../assets/imgs/speakers/microphone-off.png"
                  (click)="onStopRecording()"
                  *ngIf="recording"
                />
                <span
                  style="color: #ff0000"
                  *ngIf="recording"
                  (click)="onStopRecording()"
                >
                  Stop</span
                >
                <br />
                <span style="font-size: 10px" *ngIf="recording">{{
                  formatTime(recordingTimer)
                }}</span>
              </div>
              <!-- <div class="col-12" *ngIf="select_datas.filename.length>0">
                <hr class="bg-info">
              </div> -->
              <div
                class="col-10"
                *ngIf="
                  select_datas.filename.length > 0 &&
                  select_datas.type !== 'mp3'
                "
              >
                {{ select_datas.filename }}
              </div>
              <div
                class="col-10"
                *ngIf="
                  select_datas.filename.length > 0 &&
                  select_datas.type === 'mp3'
                "
              >
                <audio
                  controls
                  controlsList="noplaybackrate nodownload"
                  class="w-100"
                >
                  <source [src]="audioData.base64" type="audio/mpeg" />
                </audio>
              </div>
              <div class="col-2" *ngIf="select_datas.filename.length > 0">
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deletefile()"
                >
                  <ion-icon
                    [ios]="'trash-sharp'"
                    [md]="'trash-sharp'"
                  ></ion-icon>
                </button>
              </div>
              <!-- <div class="col-12">
                <hr class="bg-info">
              </div>
              <div class="col-12">
                <button type="button" class="btn btn-danger" (click)="deletefile()"><ion-icon [ios]="'trash-sharp'" [md]="'trash-sharp'"  ></ion-icon> Delete</button>
              </div> -->
              <div class="col-12 text-danger" *ngIf="error">
                only allow jpg, jpeg, png, pdf, mp3, xls, xlsx.
              </div>
            </div>
          </ion-item>
          <div class="p-1">
            <button type="submit" class="btn btn-primary">
              {{ "save" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="m-3">
      <div>
        <div *ngFor="let l of recentdates" class="dateHead">
          {{ recentdates }}
        </div>
        <table class="table table-bordered">
          <tbody *ngFor="let d of recentdata">
            <tr>
              <td width="20%">
                <div class="txtCenter topBg">{{ d.CLASS }}</div>
                <div class="txtCenter">{{ d.subject }}</div>
              </td>
              <td width="70%" class="textleft multi_lines_text">
                <span
                  *ngIf="d.MESSAGE"
                  [innerHTML]="authservice.sanitizeHtml(d.MESSAGE)"
                ></span>
                <br *ngIf="d.event_image && d.event_image.length > 0" />
                <img
                  alt=""
                  [src]="d.event_image"
                  class="w-100"
                  *ngIf="checkimage(d.event_image)"
                />

                <div
                  class="row w-100 align-items-center m-0 p-0"
                  *ngIf="checkpdf(d.event_image)"
                >
                  <div class="col-12">
                    {{ getfilename(d.event_image) }}
                  </div>
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-primary m-0 px-0"
                      (click)="authservice.open(d.event_image)"
                    >
                      <img
                        class="logo_img"
                        src="../../assets/imgs/speakers/pdf.png"
                      />
                      Download
                    </button>
                  </div>
                </div>

                <div
                  class="row w-100 align-items-center m-0 p-0"
                  *ngIf="checkxls(d.event_image)"
                >
                  <div class="col-12">
                    {{ getfilename(d.event_image) }}
                  </div>
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-primary m-0 px-0"
                      (click)="authservice.open(d.event_image)"
                    >
                      <img
                        class="logo_img"
                        src="../../assets/imgs/speakers/xls.png"
                      />
                      Download
                    </button>
                  </div>
                </div>

                <div *ngIf="checkmp3(d.event_image)">
                  <audio
                    controls
                    controlsList="noplaybackrate nodownload"
                    class="w-100"
                  >
                    <source src="{{ d.event_image }}" type="audio/mpeg" />
                  </audio>
                </div>
              </td>
              <td class="text-right">
                <button type="button" class="btn bg-white ml-1">
                  <ion-icon
                    class="text-danger"
                    [md]="'trash-sharp'"
                    (click)="deletehomework(d.MSG_ID)"
                  ></ion-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 
      <div class="cardlist" *ngFor="let d of recentdata">
        <div class="card-header py-1">
          <div class="row align-items-center">
            <div class="col">{{ d.CLASS }} - {{ d.subject }}</div>
            <div class="col text-right">
              <button type="button" class="btn bg-white ml-1">
                <ion-icon
                  class="text-danger"
                  [md]="'trash-sharp'"
                  (click)="deletehomework(d.MSG_ID)"
                ></ion-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body card_body border border-primary multi_lines_text">
          {{ d.MESSAGE }}
          <br *ngIf="d.event_image && d.event_image.length > 0" />
          <img
            alt=""
            [src]="d.event_image"
            class="w-100"
            *ngIf="checkimage(d.event_image)"
          />

          <div
            class="row w-100 align-items-center m-0 p-0"
            *ngIf="checkpdf(d.event_image)"
          >
            <div class="col-12">
              {{ getfilename(d.event_image) }}
            </div>
            <div class="col-12">
              <button
                type="button"
                class="btn btn-primary m-0 px-0"
                (click)="authservice.open(d.event_image)"
              >
                <img
                  class="logo_img"
                  src="../../assets/imgs/speakers/pdf.png"
                />
                Download
              </button>
            </div>
          </div>

          <div
            class="row w-100 align-items-center m-0 p-0"
            *ngIf="checkxls(d.event_image)"
          >
            <div class="col-12">
              {{ getfilename(d.event_image) }}
            </div>
            <div class="col-12">
              <button
                type="button"
                class="btn btn-primary m-0 px-0"
                (click)="authservice.open(d.event_image)"
              >
                <img
                  class="logo_img"
                  src="../../assets/imgs/speakers/xls.png"
                />
                Download
              </button>
            </div>
          </div>

          <div *ngIf="checkmp3(d.event_image)">
            <audio
              controls
              controlsList="noplaybackrate nodownload"
              class="w-100"
            >
              <source src="{{ d.event_image }}" type="audio/mpeg" />
            </audio>
          </div>
        </div>
      </div>-->
    </div>

    <div class="" *ngIf="recentdata.length > 0">
      <div class="card-body card_body">
        <button
          type="button"
          class="btn btn-primary btn-lg btn-block"
          (click)="movehomeworktofinal()"
        >
          Send All Homework
        </button>
      </div>
    </div>
    <!-- Tab Stars Here-->
    <div style="padding: 20px">
      <div class="m-3 table-cls">
        <tabset>
          <tab heading="Today">
            <table class="table table-bordered">
              <tbody *ngFor="let d of gethw">
                <tr>
                  <td width="20%">
                    <div class="txtCenter topBg">{{ d.CLASS }}</div>
                    <div class="txtCenter">{{ d.subject }}</div>
                  </td>
                  <td width="70%" class="textleft multi_lines_text">
                    <span
                      *ngIf="d.MESSAGE"
                      [innerHTML]="authservice.sanitizeHtml(d.MESSAGE)"
                    ></span>
                    <br *ngIf="d.event_image && d.event_image.length > 0" />
                    <img
                      alt=""
                      [src]="d.event_image"
                      class="w-100"
                      *ngIf="checkimage(d.event_image)"
                    />

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkpdf(d.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(d.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(d.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/pdf.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkxls(d.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(d.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(d.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/xls.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div *ngIf="checkmp3(d.event_image)">
                      <audio
                        controls
                        controlsList="noplaybackrate nodownload"
                        class="w-100"
                      >
                        <source src="{{ d.event_image }}" type="audio/mpeg" />
                      </audio>
                    </div>
                  </td>
                  <td class="text-right">
                    <button type="button" class="btn bg-white ml-1">
                      <ion-icon
                        class="text-danger"
                        [md]="'trash-sharp'"
                        (click)="deletehomework(d.MSG_ID)"
                      ></ion-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </tab>
          <tab heading="Last 3 Days">
            <table class="table table-bordered">
              <tbody *ngFor="let d of last3days">
                <tr>
                  <td width="20%">
                    <div class="txtCenter topBg">{{ d.CLASS }}</div>
                    <div class="txtCenter">{{ d.subject }}</div>
                  </td>
                  <td width="70%" class="textleft multi_lines_text">
                    <span
                      *ngIf="d.MESSAGE"
                      [innerHTML]="authservice.sanitizeHtml(d.MESSAGE)"
                    ></span>
                    <br *ngIf="d.event_image && d.event_image.length > 0" />
                    <img
                      alt=""
                      [src]="d.event_image"
                      class="w-100"
                      *ngIf="checkimage(d.event_image)"
                    />

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkpdf(d.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(d.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(d.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/pdf.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkxls(d.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(d.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(d.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/xls.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div *ngIf="checkmp3(d.event_image)">
                      <audio
                        controls
                        controlsList="noplaybackrate nodownload"
                        class="w-100"
                      >
                        <source src="{{ d.event_image }}" type="audio/mpeg" />
                      </audio>
                    </div>
                  </td>
                  <td class="text-right">
                    <button type="button" class="btn bg-white ml-1">
                      <ion-icon
                        class="text-danger"
                        [md]="'trash-sharp'"
                        (click)="deletehomework(d.MSG_ID)"
                      ></ion-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </tab>
          <tab heading="Search By Date">
            <form
              name="form"
              (ngSubmit)="f.form.valid && onSubmit1()"
              #f1="ngForm"
              novalidate
              class="border border-primary"
            >
              <div class="row text-center align-items-center">
                <div class="col-8">
                  <!-- <ion-item>
              <ion-datetime
                name="s_date"
                displayFormat="DD/MM/YYYY"
                pickerFormat="DD/MM/YYYY"
                [(ngModel)]="select_datas1.s_date"
                #s_date="ngModel"
                required
              ></ion-datetime>
            </ion-item> -->

                  <ion-item lines="full">
                    <ion-label
                      id="open-modal1"
                      class="selected-date"
                      *ngIf="select_datas1.s_date"
                      (click)="toggleDateSelection()"
                    >
                      {{ formatDate(select_datas1.s_date) }}
                    </ion-label>
                    <ion-modal
                      [isOpen]="isPickerOpen"
                      (willDismiss)="onWillDismiss($event, 'second')"
                      [initialBreakpoint]="0.5"
                      [breakpoints]="[0, 0.25, 0.5, 0.75]"
                      animated="true"
                    >
                      <ng-template>
                        <ion-header>
                          <ion-toolbar>
                            <ion-buttons slot="start">
                              <ion-button (click)="toggleDateSelection()">{{
                                "cancel" | translate
                              }}</ion-button>
                            </ion-buttons>
                            <ion-title>{{
                              "select_date" | translate
                            }}</ion-title>
                            <ion-buttons slot="end">
                              <ion-button
                                (click)="toggleDateSelection()"
                                [strong]="true"
                                >{{ "confirm" | translate }}</ion-button
                              >
                            </ion-buttons>
                          </ion-toolbar>
                        </ion-header>
                        <ion-content class="ion-padding">
                          <ion-datetime
                            name="dob"
                            displayFormat="DD/MM/YYYY"
                            pickerFormat="DD/MM/YYYY"
                            [(ngModel)]="select_datas1.s_date"
                            #dob="ngModel"
                            presentation="date"
                            mode="md"
                            #datetime
                            (ionChange)="showHideDatePicker()"
                            required
                          >
                          </ion-datetime>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-item>
                </div>
                <div class="col-4">
                  <button
                    type="button"
                    (click)="onSubmit1()"
                    class="btn btn-success"
                  >
                    Get
                    <ion-icon
                      [ios]="'arrow-forward-sharp'"
                      [md]="'arrow-forward-sharp'"
                    ></ion-icon>
                  </button>
                </div>
              </div>
            </form>
            <div *ngIf="senditems1dates.length > 0">
              <accordion [closeOthers]="true" [isAnimated]="true">
                <accordion-group
                  heading="{{ l }}"
                  *ngFor="let l of senditems1dates; let i = index"
                  [isOpen]="i === 0"
                >
                  <table class="table table-bordered">
                    <tbody *ngFor="let d of senditems1[l]; let i = index">
                      <tr>
                        <td width="20%">{{ d.CLASS }} - {{ d.subject }}</td>
                        <td width="80%" class="textleft multi_lines_text">
                          {{ d.MESSAGE }}
                          <br
                            *ngIf="d.event_image && d.event_image.length > 0"
                          />
                          <img
                            alt=""
                            [src]="d.event_image"
                            class="w-100"
                            *ngIf="checkimage(d.event_image)"
                          />

                          <div
                            class="row w-100 align-items-center m-0 p-0"
                            *ngIf="checkpdf(d.event_image)"
                          >
                            <div class="col-12">
                              {{ getfilename(d.event_image) }}
                            </div>
                            <div class="col-12">
                              <button
                                type="button"
                                class="btn btn-primary m-0 px-0"
                                (click)="authservice.open(d.event_image)"
                              >
                                <img
                                  class="logo_img"
                                  src="../../assets/imgs/speakers/pdf.png"
                                />
                                Download
                              </button>
                            </div>
                          </div>

                          <div
                            class="row w-100 align-items-center m-0 p-0"
                            *ngIf="checkxls(d.event_image)"
                          >
                            <div class="col-12">
                              {{ getfilename(d.event_image) }}
                            </div>
                            <div class="col-12">
                              <button
                                type="button"
                                class="btn btn-primary m-0 px-0"
                                (click)="authservice.open(d.event_image)"
                              >
                                <img
                                  class="logo_img"
                                  src="../../assets/imgs/speakers/xls.png"
                                />
                                Download
                              </button>
                            </div>
                          </div>

                          <div *ngIf="checkmp3(d.event_image)">
                            <audio
                              controls
                              controlsList="noplaybackrate nodownload"
                              class="w-100"
                            >
                              <source
                                src="{{ d.event_image }}"
                                type="audio/mpeg"
                              />
                            </audio>
                          </div>
                        </td>
                        <td>
                          <button
                            class="btn bg-white ml-1"
                            (click)="toggleHomework(d.MSG_ID, d.MESSAGE, i)"
                          >
                            <ion-icon
                              class="text-black"
                              [md]="'create-outline'"
                            ></ion-icon>
                          </button>
                        </td>
                        <td>
                          <button
                            type="button"
                            class="btn bg-white ml-1"
                            (click)="deletehomework1(d.MSG_ID)"
                          >
                            <ion-icon
                              class="text-danger"
                              [md]="'trash-sharp'"
                            ></ion-icon>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </accordion-group>
              </accordion>
            </div>
          </tab>
        </tabset>
      </div>
    </div>

    <!-- Tab Ends Here-->
  </div>
</ion-content>
