<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "circulars" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon
            class="text-white"
            [ios]="'menu-sharp'"
            [md]="'menu-sharp'"
          ></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>{{ "circulars" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="circulars">
    <div class="">
      <div class="card-header">
        {{ "send_circulars_to_lasses" | translate }}
      </div>
      <div class="card-body card_body">
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit(f)"
          #f="ngForm"
          novalidate
          class="border border-primary"
        >
          <ion-item>
            <ion-label>{{ "class" | translate }}</ion-label>
            <ionic-selectable
              #portComponent
              name="class"
              item-content
              [(ngModel)]="select_datas.class"
              itemValueField="id"
              itemTextField="name"
              [items]="classs"
              [canSearch]="true"
              [isMultiple]="true"
              [hasVirtualScroll]="true"
              (onChange)="classChange($event)"
              #class="ngModel"
              required
            >
              <ng-template ionicSelectableValueTemplate let-ports="value">
                <div class="ionic-selectable-value-item">
                  {{ formatPorts(select_datas.class) }}
                </div>
              </ng-template>

              <ng-template ionicSelectableCloseButtonTemplate>
                <ion-icon
                  [md]="'close-circle'"
                  [ios]="'close-circle'"
                  style="font-size: 24px"
                ></ion-icon>
              </ng-template>

              <ng-template ionicSelectableFooterTemplate>
                <ion-toolbar>
                  <ion-row>
                    <ion-col [size]="4">
                      <ion-button expand="full" (click)="toggleItems(true)">
                        Select All
                      </ion-button>
                    </ion-col>
                    <ion-col [size]="4">
                      <ion-button expand="full" (click)="toggleItems(false)">
                        Deselect All
                      </ion-button>
                    </ion-col>
                    <ion-col [size]="4">
                      <ion-button expand="full" (click)="confirm()">
                        OK
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-toolbar>
              </ng-template>
            </ionic-selectable>
          </ion-item>

          <span *ngIf="f.submitted && class.invalid" class="text-danger"
            >Select Class</span
          >

          <ion-item lines="full">
            <ion-label
              id="open-modal"
              class="selected-date"
              *ngIf="select_datas.s_date"
            >
              <span style="float: left">{{ "date" | translate }} </span>

              <span style="float: right !important"
                >{{ formatDate(select_datas.s_date) }}
              </span>
            </ion-label>

            <ion-modal
              trigger="open-modal"
              (willDismiss)="onWillDismiss($event, 'first')"
              [initialBreakpoint]="0.5"
              [breakpoints]="[0, 0.25, 0.5, 0.75]"
              animated="true"
            >
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="cancel_date()">{{
                        "cancel" | translate
                      }}</ion-button>
                    </ion-buttons>
                    <ion-title>{{ "select_date" | translate }}</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="confirm_date()" [strong]="true">{{
                        "confirm" | translate
                      }}</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <ion-datetime
                    name="dob"
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD/MM/YYYY"
                    [(ngModel)]="select_datas.s_date"
                    #dob="ngModel"
                    presentation="date"
                    mode="md"
                    #datetime
                    (ionChange)="showHideDatePicker()"
                    required
                  >
                  </ion-datetime>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item>

          <!-- <ion-item class="input-group" lines="none">
        <ion-row style="width: 100%">
          <ion-col>
            <ion-label style="min-width: 100%">{{
              "message" | translate
            }}</ion-label>
          </ion-col>
        </ion-row>
      </ion-item> 
         class="form-control textarea"
              rows="4"
            -->

          <ion-item lines="full">
            <ion-textarea
              type="text"
              name="message"
              [(ngModel)]="select_datas.message"
              #message="ngModel"
              placeholder="Enter the message here"
              [required]="select_datas.filename.length === 0"
            >
            </ion-textarea>
          </ion-item>
          <span *ngIf="f.submitted && message.invalid" class="text-danger"
            >Entersss Message</span
          >
          <!-- <ion-grid class="align-items-center text-center">
        <ion-row>
          <ion-col
            size="6"
            *ngIf="select_datas.filename.length === 0"
            style="padding: 0 !important; margin: 0 !important"
          >
            <img
              alt=""
              style="width: 30px"
              src="../../assets/imgs/speakers/attachment.png"
              (click)="open()"
            />
          </ion-col>
          <ion-col
            size="6"
            *ngIf="select_datas.filename.length === 0"
            style="justify-content: center; align-items: center; display: flex"
          >
            <img
              alt=""
              style="
                width: 30px;
                filter: invert(58%) sepia(16%) saturate(2009%) hue-rotate(81deg)
                  brightness(88%) contrast(86%);
              "
              src="../../assets/imgs/speakers/microphone.png"
              (click)="startRecord()"
              *ngIf="!recording"
            />
            <span
              class="text-success"
              *ngIf="!recording"
              (click)="startRecord()"
            >
              Start
            </span>
            <img
              alt=""
              style="
                width: 30px;
                filter: invert(13%) sepia(100%) saturate(6859%)
                  hue-rotate(358deg) brightness(119%) contrast(120%);
              "
              src="../../assets/imgs/speakers/microphone-off.png"
              (click)="stopRecord()"
              *ngIf="recording"
            />
            <span
              style="color: #ff0000"
              *ngIf="recording"
              (click)="stopRecord()"
            >
              Stop
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col
            size="6"
            *ngIf="
              select_datas.filename.length > 0 && select_datas.type !== 'mp3'
            "
          >
            {{ select_datas.filename }}
          </ion-col>
          <ion-col
            size="10"
            *ngIf="
              select_datas.filename.length > 0 && select_datas.type === 'mp3'
            "
          >
            <audio
              controls
              controlsList="noplaybackrate nodownload"
              class="w-100"
            >
              <source [src]="select_datas.image" type="audio/mpeg" />
            </audio>
          </ion-col>
          <ion-col size="2" *ngIf="select_datas.filename.length > 0">
            <button type="button" class="btn btn-danger" (click)="deletefile()">
              <ion-icon [ios]="'trash-sharp'" [md]="'trash-sharp'"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" *ngIf="error">
            only allow jpg, jpeg, png, pdf, mp3, xls, xlsx.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <hr class="bg-info" />
          </ion-col>
        </ion-row>
      </ion-grid> -->

          <div class="row w-100 align-items-center text-center pt-3 m-0">
            <div class="col-6" *ngIf="select_datas.filename.length === 0">
              <span class="text-success" (click)="open()">Attach Files</span>
              <img
                alt=""
                style="width: 30px"
                src="../../assets/imgs/speakers/attachment.png"
                (click)="open()"
              />
            </div>
            <div class="col-6" *ngIf="select_datas.filename.length === 0">
              <img
                alt=""
                style="
                  width: 30px;
                  filter: invert(58%) sepia(16%) saturate(2009%)
                    hue-rotate(81deg) brightness(88%) contrast(86%);
                "
                src="../../assets/imgs/speakers/microphone.png"
                (click)="onStartRecording()"
                *ngIf="!recording"
              />
              <span
                class="text-success"
                *ngIf="!recording"
                (click)="onStartRecording()"
              >
                Start Recording</span
              >
              <img
                alt=""
                style="
                  width: 30px;
                  filter: invert(13%) sepia(100%) saturate(6859%)
                    hue-rotate(358deg) brightness(119%) contrast(120%);
                "
                src="../../assets/imgs/speakers/microphone-off.png"
                (click)="onStopRecording()"
                *ngIf="recording"
              />
              <span
                style="color: #ff0000"
                *ngIf="recording"
                (click)="onStopRecording()"
              >
                Stop Recording</span
              >
              <br />
              <span style="font-size: 10px" *ngIf="recording">{{
                formatTime(recordingTimer)
              }}</span>
            </div>
            <!-- <div class="col-12" *ngIf="select_datas.filename.length>0">
          <hr class="bg-info">f
        </div> -->
            <div
              class="col-10"
              *ngIf="
                select_datas.filename.length > 0 && select_datas.type !== 'mp3'
              "
            >
              {{ select_datas.filename }}
            </div>
            <div
              class="col-10"
              *ngIf="
                select_datas.filename.length > 0 && select_datas.type === 'mp3'
              "
            >
              <audio
                controls
                controlsList="noplaybackrate nodownload"
                class="w-100"
              >
                <source [src]="audioData.base64" type="audio/mpeg" />
              </audio>
            </div>
            <div class="col-2" *ngIf="select_datas.filename.length > 0">
              <button
                type="button"
                class="btn btn-danger"
                (click)="deletefile()"
              >
                <ion-icon [ios]="'trash-sharp'" [md]="'trash-sharp'"></ion-icon>
              </button>
            </div>
            <!-- <div class="col-12">
          <hr class="bg-info">
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-danger" (click)="deletefile()"><ion-icon [ios]="'trash-sharp'" [md]="'trash-sharp'"  ></ion-icon> Delete</button>
        </div> -->
            <div class="col-12 text-danger" *ngIf="error">
              only allow jpg, jpeg, png, pdf, mp3, xls, xlsx.
            </div>
            <div class="col-12 p-0">
              <hr class="bg-info" />
            </div>
          </div>

          <!-- <ion-item>
            <button  type="button" class="btn btn-primary btn-block" (click)="stopRecord()" *ngIf="recording"><ion-icon [ios]="'mic-off-sharp'" [md]="'mic-off-sharp'" ></ion-icon>&nbsp;&nbsp;Stop Record</button>
            <button  type="button" class="btn btn-primary btn-block" (click)="startRecord()" *ngIf="!recording"><ion-icon [ios]="'mic-off-sharp'" [md]="'mic-off-sharp'" ></ion-icon>&nbsp;&nbsp;Start Record</button>
          </ion-item> -->
          <!-- <ion-item *ngIf="select_datas.type=='mp3'">
            <audio controls controlsList="noplaybackrate nodownload">
            <source [src]="select_datas.image" type="audio/mpeg"></audio>
          </ion-item> -->
          <div class="p-2 text-right">
            <button type="submit" class="btn btn-primary">
              {{ "save" | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Drafted Message -->

    <div class="m-3">
      <div *ngFor="let d of grpmes">
        <div class="dateHead" *ngIf="d.message">
          {{ formatDate(select_datas.s_date) }}
        </div>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td width="20%">
                <div class="txtCenter">{{ d.Group_name }}</div>
              </td>
              <td width="70%" class="textleft multi_lines_text">
                <span>{{ d.message }}</span>
                <br *ngIf="d.event_image && d.event_image.length > 0" />
                <img
                  alt=""
                  [src]="d.event_image"
                  class="w-100"
                  *ngIf="checkimage(d.event_image)"
                />

                <div
                  class="row w-100 align-items-center m-0 p-0"
                  *ngIf="checkpdf(d.event_image)"
                >
                  <div class="col-12">
                    {{ getfilename(d.event_image) }}
                  </div>
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-primary m-0 px-0"
                      (click)="authservice.open(d.event_image)"
                    >
                      <img
                        class="logo_img"
                        src="../../assets/imgs/speakers/pdf.png"
                      />
                      Download
                    </button>
                  </div>
                </div>

                <div
                  class="row w-100 align-items-center m-0 p-0"
                  *ngIf="checkxls(d.event_image)"
                >
                  <div class="col-12">
                    {{ getfilename(d.event_image) }}
                  </div>
                  <div class="col-12">
                    <button
                      type="button"
                      class="btn btn-primary m-0 px-0"
                      (click)="authservice.open(d.event_image)"
                    >
                      <img
                        class="logo_img"
                        src="../../assets/imgs/speakers/xls.png"
                      />
                      Download
                    </button>
                  </div>
                </div>

                <div *ngIf="checkmp3(d.event_image)">
                  <audio
                    controls
                    controlsList="noplaybackrate nodownload"
                    class="w-100"
                  >
                    <source src="{{ d.event_image }}" type="audio/mpeg" />
                  </audio>
                </div>
              </td>
              <td class="text-right">
                <button
                  type="button"
                  class="btn bg-white ml-1"
                  (click)="deletecirculars(d.ID)"
                >
                  <ion-icon class="text-danger" [md]="'trash-sharp'"></ion-icon>
                </button>
              </td>
            </tr>

            <!-- <div
              class="card-body card_body border border-primary multi_lines_text"
            >
          
              <span
                *ngIf="d.message"
                [innerHTML]="sanitizeHtml(d.message)"
              ></span>

              <br *ngIf="d.event_image && d.event_image.length > 0" />
              <img
                alt=""
                [src]="d.event_image"
                class="w-100"
                *ngIf="checkimage(d.event_image)"
              />

              <div
                class="row w-100 align-items-center m-0 p-0"
                *ngIf="checkpdf(d.event_image)"
              >
                <div class="col-12">
                  {{ getfilename(d.event_image) }}
                </div>
                <div class="col-12">
                  <button
                    type="button"
                    class="btn btn-primary m-0 px-0"
                    (click)="authservice.open(d.event_image)"
                  >
                    <img
                      class="logo_img"
                      src="../../assets/imgs/speakers/pdf.png"
                    />
                    Download
                  </button>
                </div>
              </div>

              <div
                class="row w-100 align-items-center m-0 p-0"
                *ngIf="checkxls(d.event_image)"
              >
                <div class="col-12">
                  {{ getfilename(d.event_image) }}
                </div>
                <div class="col-12">
                  <button
                    type="button"
                    class="btn btn-primary m-0 px-0"
                    (click)="authservice.open(d.event_image)"
                  >
                    <img
                      class="logo_img"
                      src="../../assets/imgs/speakers/xls.png"
                    />
                    Download
                  </button>
                </div>
              </div>

              <div *ngIf="checkmp3(d.event_image)">
                <audio
                  controls
                  controlsList="noplaybackrate nodownload"
                  class="w-100"
                >
                  <source src="{{ d.event_image }}" type="audio/mpeg" />
                </audio>
              </div>
            </div> -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- End of Drafted Message -->

    <div class="" *ngIf="grpmes.length > 0">
      <div class="card-body card_body">
        <button
          type="button"
          class="btn btn-primary btn-lg btn-block"
          (click)="moveFinalgroupAll()"
        >
          {{ "send_aLl_messages" | translate }}
        </button>
      </div>
    </div>

    <tabset>
      <tab heading="Today">
        <div class="cardlist" *ngIf="senditems.length > 0">
          <div class="card-header table-cls">
            <div class="row align-items-center">
              <div class="col" style="margin-left: 10px !important">
                {{ "sended_message" | translate }}
              </div>
            </div>
          </div>
          <div
            class="card-body card_body border border-primary p-0 bodytable table-responsive table-cls"
          >
            <table
              *ngIf="senditems.length"
              class="table table-bordered m-0 p-0"
            >
              <thead>
                <tr>
                  <th style="width: 15%">{{ "class" | translate }}</th>
                  <th>{{ "message" | translate }}</th>
                  <th style="width: 12%">Manage</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let s of senditems; let i = index">
                  <td class="text-center">
                    {{ s.Group_name }}<br />

                    <button
                      type="button"
                      class="btn bg-white px-1"
                      (click)="seencirculars1(s.ID)"
                      (click)="toggleMessage1()"
                    >
                      <ion-icon
                        class="eye"
                        [name]="showPassword ? 'eye' : 'eye-off'"
                        [color]="showPassword ? 'primary' : 'medium'"
                      ></ion-icon>
                    </button>
                  </td>
                  <td class="multi_lines_text">
                    {{ s.message }}
                    <br *ngIf="s.event_image && s.event_image.length > 0" />
                    <img
                      alt=""
                      [src]="s.event_image"
                      class="w-100"
                      *ngIf="checkimage(s.event_image)"
                    />

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkpdf(s.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(s.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          style="padding: 0px"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(s.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/pdf.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkxls(s.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(s.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(s.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/xls.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div *ngIf="checkmp3(s.event_image)">
                      <audio
                        controls
                        controlsList="noplaybackrate nodownload"
                        class="w-100"
                      >
                        <source src="{{ s.event_image }}" type="audio/mpeg" />
                      </audio>
                    </div>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn bg-white px-1"
                      (click)="deletecirculars1(s.ID)"
                    >
                      <ion-icon
                        class="text-danger"
                        [md]="'trash-sharp'"
                      ></ion-icon>
                    </button>
                    <button
                      class="btn bg-white px-0 text-right"
                      (click)="toggleMessage(s.ID, s.message, i)"
                    >
                      <ion-icon
                        class="text-black"
                        [md]="'create-outline'"
                      ></ion-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>

      <tab heading="Last 3 Days">
        <div class="cardlist" *ngIf="last3days.length > 0">
          <div class="card-header table-cls">
            <div class="row align-items-center">
              <div class="col" style="margin-left: 10px !important">
                {{ "sended_message" | translate }}
              </div>
            </div>
          </div>
          <div
            class="card-body card_body border border-primary p-0 bodytable table-responsive table-cls"
          >
            <table
              *ngIf="last3days.length"
              class="table table-bordered m-0 p-0"
            >
              <thead>
                <tr>
                  <th style="width: 15%">{{ "class" | translate }}</th>
                  <th>{{ "message" | translate }}</th>
                  <th style="width: 12%">Manage</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of last3days; let i = index">
                  <td class="text-center">
                    {{ s.Group_name }}

                    <button
                      type="button"
                      class="btn bg-white px-1"
                      (click)="seencirculars1(s.ID)"
                      (click)="toggleMessage1()"
                    >
                      <ion-icon
                        class="eye"
                        [name]="showPassword ? 'eye' : 'eye-off'"
                        [color]="showPassword ? 'primary' : 'medium'"
                      ></ion-icon>
                    </button>
                  </td>

                  <td class="multi_lines_text">
                    {{ s.message }}
                    <br *ngIf="s.event_image && s.event_image.length > 0" />
                    <img
                      alt=""
                      [src]="s.event_image"
                      class="w-100"
                      *ngIf="checkimage(s.event_image)"
                    />

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkpdf(s.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(s.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          style="padding: 0px"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(s.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/pdf.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkxls(s.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(s.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(s.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/xls.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div *ngIf="checkmp3(s.event_image)">
                      <audio
                        controls
                        controlsList="noplaybackrate nodownload"
                        class="w-100"
                      >
                        <source src="{{ s.event_image }}" type="audio/mpeg" />
                      </audio>
                    </div>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn bg-white px-1"
                      (click)="deletecirculars1(s.ID)"
                    >
                      <ion-icon
                        class="text-danger"
                        [md]="'trash-sharp'"
                      ></ion-icon>
                    </button>
                    <button
                      class="btn bg-white px-0 text-right"
                      (click)="toggleMessage(s.ID, s.message, i)"
                    >
                      <ion-icon
                        class="text-black"
                        [md]="'create-outline'"
                      ></ion-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>

      <tab heading="Search By Date">
        <form
          name="form"
          (ngSubmit)="f.form.valid && onSubmit1()"
          #f1="ngForm"
          novalidate
          class="border border-primary"
        >
          <div class="row text-center align-items-center">
            <div class="col-8">
              <ion-item lines="full">
                <ion-label
                  id="open-modal1"
                  class="selected-date"
                  *ngIf="select_datas1.s_date"
                  (click)="toggleDateSelection()"
                >
                  {{ formatDate(select_datas1.s_date) }}
                </ion-label>
                <ion-modal
                  [isOpen]="isPickerOpen"
                  (willDismiss)="onWillDismiss($event, 'second')"
                  [initialBreakpoint]="0.5"
                  [breakpoints]="[0, 0.25, 0.5, 0.75]"
                  animated="true"
                >
                  <ng-template>
                    <ion-header>
                      <ion-toolbar>
                        <ion-buttons slot="start">
                          <ion-button (click)="toggleDateSelection()">{{
                            "cancel" | translate
                          }}</ion-button>
                        </ion-buttons>
                        <ion-title>{{ "select_date" | translate }}</ion-title>
                        <ion-buttons slot="end">
                          <ion-button
                            (click)="toggleDateSelection()"
                            [strong]="true"
                            >{{ "confirm" | translate }}</ion-button
                          >
                        </ion-buttons>
                      </ion-toolbar>
                    </ion-header>
                    <ion-content class="ion-padding">
                      <ion-datetime
                        name="dob"
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="DD/MM/YYYY"
                        [(ngModel)]="select_datas1.s_date"
                        #dob="ngModel"
                        presentation="date"
                        mode="md"
                        #datetime
                        (ionChange)="showHideDatePicker()"
                        required
                      >
                      </ion-datetime>
                    </ion-content>
                  </ng-template>
                </ion-modal>
              </ion-item>
            </div>
            <div class="col-4">
              <button
                type="button"
                (click)="onSubmit1()"
                class="btn btn-success"
              >
                Get
                <ion-icon
                  [ios]="'arrow-forward-sharp'"
                  [md]="'arrow-forward-sharp'"
                ></ion-icon>
              </button>
            </div>
          </div>
        </form>
        <div class="cardlist" *m="senditems1.length > 0">
          <div class="card-header table-cls">
            <div class="row align-items-center">
              <div class="col" style="margin-left: 10px !important">
                {{ "sended_message" | translate }}
              </div>
            </div>
          </div>
          <div
            class="card-body card_body border border-primary p-0 bodytable table-responsive table-cls"
          >
            <table *ngIf="senditems1.length" class="table table-bordered">
              <thead>
                <tr>
                  <th style="width: 15%">{{ "class" | translate }}</th>
                  <th>{{ "message" | translate }}</th>
                  <th>delete</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of senditems1; let i = index">
                  <td class="text-center">{{ s.Group_name }}</td>
                  <td class="multi_lines_text">
                    {{ s.message }}
                    <br *ngIf="s.event_image && s.event_image.length > 0" />
                    <img
                      alt=""
                      [src]="s.event_image"
                      class="w-100"
                      *ngIf="checkimage(s.event_image)"
                    />

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkpdf(s.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(s.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(s.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/pdf.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div
                      class="row w-100 align-items-center m-0 p-0"
                      *ngIf="checkxls(s.event_image)"
                    >
                      <div class="col-12">
                        {{ getfilename(s.event_image) }}
                      </div>
                      <div class="col-12">
                        <button
                          type="button"
                          class="btn btn-primary m-0 px-0"
                          (click)="authservice.open(s.event_image)"
                        >
                          <img
                            class="logo_img"
                            src="../../assets/imgs/speakers/xls.png"
                          />
                          Download
                        </button>
                      </div>
                    </div>

                    <div *ngIf="checkmp3(s.event_image)">
                      <audio
                        controls
                        controlsList="noplaybackrate nodownload"
                        class="w-100"
                      >
                        <source src="{{ s.event_image }}" type="audio/mpeg" />
                      </audio>
                    </div>
                  </td>
                  <td>
                    <button
                      type="button"
                      class="btn bg-white ml-1"
                      (click)="deletecirculars1(s.ID)"
                    >
                      <ion-icon
                        class="text-danger"
                        [md]="'create-outline'"
                      ></ion-icon>
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn bg-white ml-1"
                      (click)="toggleMessage(s.ID, s.message, i)"
                    >
                      <ion-icon
                        class="text-black"
                        [md]="'create-outline'"
                      ></ion-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <ion-modal
    [isOpen]="isEditMessageOpen"
    (willDismiss)="onWillDismiss($event, 'edit')"
    [initialBreakpoint]="0.5"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    animated="true"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="toggleMessage('cancel', 'cancel', 'cancel')">{{
              "cancel" | translate
            }}</ion-button>
          </ion-buttons>
          <ion-title>{{ "edit_message" | translate }}</ion-title>
          <ion-buttons slot="end">
            <ion-button
              (click)="toggleMessage('confirm', 'confirm', 'cancel')"
              [strong]="true"
              >{{ "confirm" | translate }}</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter Message</ion-label>
          <ion-input
            type="text"
            placeholder="Your message"
            [(ngModel)]="messageText"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
  <ion-modal
    [isOpen]="isEditMessageOpen1"
    (willDismiss)="onWillDismiss($event, 'edit')"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    animated="true"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button>{{ "List" | translate }}</ion-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button (click)="toggleMessage2()">{{
              "cancel" | translate
            }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <table style="text-align: center" class="table table-bordered">
          <thead>
            <td>S.No</td>
            <td>Name</td>
            <td>Seen Status</td>
          </thead>
          <tr
            *ngFor="let se of seengrpmes; let i = index"
            [ngClass]="se.seen_status == 0 ? 'bg' : 'bgg'"
          >
            <td>{{ i + 1 }}</td>
            <td>{{ se.STUDENTNAME }}</td>
            <td>{{ se.seen_status }}</td>
          </tr>
        </table>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
