.personalized {
  .icon-width {
    width: 30px !important;
    height: 30px !important;
  }
  .card_body {
    padding-top: 0px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .card-header {
    padding: 12px !important;
    padding-left: 20px !important;
  }
}
