<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Flash Message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start">
        <ion-menu-button
          ><ion-icon
            class="text-white"
            [ios]="'menu-sharp'"
            [md]="'menu-sharp'"
          ></ion-icon
        ></ion-menu-button>
      </ion-buttons>
      <ion-title>Flash Message</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="card m-3 shadow-lg">
    <!-- Updated Styles -->

    <div class="card-body card_body">
      <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div style="margin-top: 12px">Title</div>
        <ion-item class="dropdown" style="margin: 0px">
          <!-- <ion-label>0 Classes Selected</ion-label> -->
          <ion-input
            type="text"
            name="title"
            [(ngModel)]="details.title"
            #title="ngModel"
            required
          ></ion-input>
        </ion-item>

        <div style="margin-top: 12px">Description</div>
        <ion-item lines="full" class="dropdown" style="margin: 0px">
          <!-- <ion-label position="floating">Description</ion-label> -->
          <ion-textarea
            type="text"
            name="description"
            [(ngModel)]="details.description"
            #description="ngModel"
            required
          >
          </ion-textarea>
        </ion-item>
        <div style="margin-top: 12px">Select Start Date</div>
        <ion-item lines="full" class="dropdown" style="margin: 0px">
          <ion-label
            id="open-modal"
            class="selected-date"
            *ngIf="details.startdate"
          >
            <span style="float: left">{{ formatDate(details.startdate) }}</span>
            <span style="float: right !important">
              <img
                style="height: 6px; width: 10px; margin-right: 5px"
                src="../../assets/imgs/speakers/Polygon 4.png"
              />
            </span>
          </ion-label>
          <ion-modal
            trigger="open-modal"
            (willDismiss)="onWillDismiss($event, 'first')"
            [initialBreakpoint]="0.5"
            [breakpoints]="[0, 0.25, 0.5, 0.75]"
            animated="true"
          >
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="cancel_date()">{{
                      "cancel" | translate
                    }}</ion-button>
                  </ion-buttons>
                  <ion-title>{{ "select_date" | translate }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button (click)="confirm_date()" [strong]="true">{{
                      "confirm" | translate
                    }}</ion-button>
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-datetime
                  name="dob"
                  displayFormat="DD/MM/YYYY"
                  pickerFormat="DD/MM/YYYY"
                  [(ngModel)]="details.startdate"
                  #dob="ngModel"
                  presentation="date"
                  mode="md"
                  #datetime
                  (ionChange)="showHideDatePicker()"
                  required
                >
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>
        <div style="margin-top: 12px">Select End Date</div>
        <ion-item lines="full" class="dropdown" style="margin: 0px">
          <ion-label
            id="open-modal1"
            class="selected-date"
            *ngIf="details.enddate"
            (click)="toggleDateSelection()"
          >
            <span style="float: left">{{ formatDate(details.enddate) }}</span>
            <span style="float: right !important">
              <img
                style="height: 6px; width: 10px; margin-right: 5px"
                src="../../assets/imgs/speakers/Polygon 4.png"
              />
            </span>
          </ion-label>
          <ion-modal
            [isOpen]="isPickerOpen"
            (willDismiss)="onWillDismiss($event, 'second')"
            [initialBreakpoint]="0.5"
            [breakpoints]="[0, 0.25, 0.5, 0.75]"
            animated="true"
          >
            <ng-template>
              <ion-header>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button (click)="toggleDateSelection()">{{
                      "cancel" | translate
                    }}</ion-button>
                  </ion-buttons>
                  <ion-title>{{ "select_date" | translate }}</ion-title>
                  <ion-buttons slot="end">
                    <ion-button
                      (click)="toggleDateSelection()"
                      [strong]="true"
                      >{{ "confirm" | translate }}</ion-button
                    >
                  </ion-buttons>
                </ion-toolbar>
              </ion-header>
              <ion-content class="ion-padding">
                <ion-datetime
                  name="dob"
                  displayFormat="DD/MM/YYYY"
                  pickerFormat="DD/MM/YYYY"
                  [(ngModel)]="details.enddate"
                  #dob="ngModel"
                  presentation="date"
                  mode="md"
                  #datetime
                  (ionChange)="showHideDatePicker()"
                  required
                >
                </ion-datetime>
              </ion-content>
            </ng-template>
          </ion-modal>
        </ion-item>
        <ion-item>
          <div class="row w-100 align-items-center text-center">
            <div class="col-6"></div>
            <div class="col-6">
              <div
                class="attach"
                *ngIf="details.image.length == 0"
                style="flex: 0 0 150px"
              >
                <img
                  alt=""
                  style="width: 12px; height: 22px"
                  src="../../assets/imgs/speakers/attach.svg"
                />
                <span style="color: #fff; margin-left: 8px" (click)="open()"
                  >Attach Files</span
                >
              </div>
              <div class="col-10" *ngIf="details.image.length > 0">
                {{ details.image.data }}
              </div>
              <button
                type="button"
                class="btn btn-danger"
                (click)="deletefile()"
                *ngIf="details.image.length != 0"
              >
                <ion-icon [ios]="'trash-sharp'" [md]="'trash-sharp'"></ion-icon>
              </button>
            </div>
            <div class="col-12 text-danger" *ngIf="error">
              only allow jpg, jpeg, png.
            </div>
          </div>
        </ion-item>

        <div class="p-2 text-right">
          <button type="submit" class="btn btn-primary" style="width: 100%">
            {{ "save" | translate }}
          </button>
        </div>
      </form>
    </div>
    <!-- Updated Styles -->
  </div>

  <div class="cardlist" *ngIf="flashlist.length > 0">
    <div class="card-header py-1">
      <div class="row align-items-center">
        <div class="col">Flash Message List</div>
      </div>
    </div>
    <div class="card-body card_body border border-primary p-0 bodytable">
      <table *ngIf="flashlist.length" class="table table-bordered w-100">
        <!-- <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead> -->
        <tbody>
          <tr *ngFor="let s of flashlist">
            <td>
              Title: {{ s.Title }}<br />
              Description:
              <span
                *ngIf="s.Discription"
                [innerHTML]="authservice.sanitizeHtml(s.Discription)"
              ></span
              ><br />
              Date: {{ s.start_date }} - {{ s.NewsADate }}<br />
              <img src="{{ s.event_image }}" class="w-100" alt="" /><br />
              <br />
              <button class="btn btn-danger" (click)="delete(s.nid)">
                <ion-icon
                  [ios]="'trash-sharp'"
                  [md]="'trash-sharp'"
                  class="text-white"
                ></ion-icon>
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>
