.text-black {
  color: black;
  font-size: 18px;
}

.text-blue {
  color: blue;
  font-size: 18px;
}

.table-cls {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.multi_lines_text {
  margin: 10px;
  padding: 10px;
}

thead.table-head {
  height: 40px;
  text-align: center;
}
