<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button><ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'" class="menuIcon"></ion-icon></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "dashboard" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal">
        <img class="img-thumbnail dash" *ngIf="!storage.get(ADNO + 'img')" [src]="staff_img" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-modal trigger="open-modal" [initialBreakpoint]="1" animated="true">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>My Profile</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel_date()">{{
              "cancel" | translate
              }}</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div>
          <img class="modal_profile" [src]="staff_img" alt="profile_img" />
        </div>
        <div class="modal_content">
          <ion-row>
            <ion-col size="3">Staff Name: </ion-col>
            <ion-col>{{ teachersDetail[0]["DisplayName"] }}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">Staff ID: </ion-col>
            <ion-col>{{ teachersDetail[0]["staff_id"] }}</ion-col>
          </ion-row>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- 10/02 -->

  <div class="select-wrapper" *ngIf="schoolList.length > 1">
    <ion-select [value]="schoolData" (ionChange)="currentSchool($event)">
      <ion-select-option *ngFor="let school of schoolList" [value]="school">
        {{ school.firstname }}
      </ion-select-option>
    </ion-select>
  </div>

  <!-- 1 -->
  <!-- <div class="dashboardName container">
    <div class="row">
      <div class="col-9">
        <div class="staffname">Hi {{ teachersDetail[0]["DisplayName"] }},</div>
        <div class="staffcode">
          Staff Code: {{ teachersDetail[0]["staff_id"] }}
        </div>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        <div>
          <img class="img-thumbnail dash" *ngIf="!storage.get(ADNO + 'img')" [src]="staff_img" />
        </div>
      </div>
    </div>
  </div> -->

  <!-- 2 -->
  <ng-container *ngIf="senditems.length > 0">
    <div class="container-fluid view-all">
      <div class="container-fluid message-container">
        <div *ngIf="senditems.length > 3" (click)="redirectToModule()" class="left ion-card-rounded-right"
          style="height: 85px; text-align: center">
          <div class="left-view">
            View <br />
            All
          </div>
        </div>
        <div class="right" [ngStyle]="{ 'width': dynamicWidth }">
          <swiper-container #swiper (afterinit)="swiperReady()" (slidechange)="swiperSlideChanged($event)" [loop]="true"
            [pagination]="true">
            <swiper-slide *ngFor="
                let smsData of senditems.length >= 3
                  ? senditems.slice(senditems.length - 3)
                  : senditems
              ">
              <ion-card class="ion-card-rounded" style="height: 88px; background-color: #e9e7e7;">
                <ion-card-content no-padding class="frame">
                  <ion-row class="dm">
                    <ion-col>
                      <div class="message-content">
                        <div class="multi_lines_text111" (click)="redirectToModule()">
                          Message :
                          {{
                          smsData.Message.length > 100
                          ? (smsData.Message | slice : 0 : 100) + "..."
                          : smsData.Message
                          }}
                        </div>
                        <div *ngIf="checkmp3(smsData.event_image)" class="audio-section"></div>

                        <!-- Video section -->
                        <!-- <div
                          *ngIf="checkmp4(smsData.event_image)"
                          class="video-section"
                        >
                          <iframe
                            [src]="getSafeUrl(smsData.event_image)"
                            frameborder="0"
                            width="100%"
                            height="100%"
                            webkitallowfullscreen
                            mozallowfullscreen
                            allowfullscreen
                          ></iframe>
                        </div> -->

                        <!-- PDF/Excel section -->
                        <!-- <div
                          *ngIf="
                            checkpdf(smsData.event_image) ||
                            checkxls(smsData.event_image)
                          "
                          class="document-section"
                        >
                          <div class="row w-100 align-items-center m-0">
                            <div
                              [ngClass]="
                                checkpdf(smsData.event_image) ? 'pdf' : 'xls'
                              "
                            >
                              <div class="col-6" style="padding-top: 10px">
                                <a
                                  (click)="
                                    authservice.open(smsData.event_image)
                                  "
                                >
                                  Click here to
                                  {{
                                    checkpdf(smsData.event_image)
                                      ? "open the PDF"
                                      : "Download the Excel"
                                  }}
                                </a>
                              </div>
                              <div class="col-6 text-right m-0 p-0">
                                <button
                                  type="button"
                                  (click)="
                                    authservice.open(smsData.event_image)
                                  "
                                >
                                  <div class="row w-100 align-items-center">
                                    <div
                                      class="col-6 w-100 mx-0 px-0"
                                      style="padding-right: 10px"
                                    >
                                      <img
                                        class="w-50 m-auto"
                                        [src]="
                                          checkpdf(smsData.event_image)
                                            ? '../../assets/imgs/speakers/spdf.png'
                                            : '../../assets/imgs/Icons_new/Microsoft Excel.png'
                                        "
                                      />
                                    </div>
                                  </div>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </ion-col>
                  </ion-row>

                  <!-- Header section with student name -->
                  <!-- <div class="message-header">
                    <div class="nameDate1" style="margin-top: 4px">
                      <ion-row>
                        <div *ngIf="smsData.event_image">
                          <ion-col
                            style="float: right"
                            class="text-right"
                            *ngIf="checkimage(smsData.event_image)"
                            (click)="setOpen(true, smsData.event_image)"
                          >
                            <div style="float: right; align-items: center">
                              <ion-text class="text-bold">View Image</ion-text>
                              <img
                                style="
                                  width: 35px !important;
                                  padding-left: 10px;
                                "
                                src="../../assets/imgs/speakers/image.png"
                                alt=""
                              />
                            </div>
                          </ion-col>
                        </div>
                      </ion-row>
                    </div>
                  </div> -->

                  <!-- Date and Avatar section -->

                  <!-- Modal for Image -->
                  <ion-modal [isOpen]="isModalOpen">
                    <ng-template>
                      <ion-header>
                        <ion-toolbar>
                          <ion-buttons slot="end">
                            <ion-button (click)="setOpen(false, 't')">Close</ion-button>
                          </ion-buttons>
                        </ion-toolbar>
                      </ion-header>
                      <ion-content class="ion-padding">
                        <div>
                          <img class="card-img-top w-100" [src]="modalImage" alt="" />
                        </div>
                      </ion-content>
                    </ng-template>
                  </ion-modal>
                </ion-card-content>
              </ion-card>
            </swiper-slide>
          </swiper-container>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- <ng-template #noItemsMessage>
    <div class="empty-message" (click)="redirectToModule()">
      Click Here for your Messages
    </div>
  </ng-template> -->

  <!-- 10/02 -->

  <ion-grid style="margin-top: 15px">
    <ion-row class="align-items-center">
      <ion-col size="4" *ngFor="let p of appPages; first as isFirst">
        <div class="text-center" *ngIf="isFirst">
          <div class="row" (click)="go(p.menu_link)">
            <div class="imgBg">
              <img class="iconnn-img" [src]="p.menu_icon" />
            </div>
            <div class="col-12">
              <p class="iconTitle">{{ p.menu_name | translate }}</p>
            </div>
          </div>
        </div>
        <div class="text-center" *ngIf="!isFirst">
          <div class="row" (click)="go(p.menu_link)">
            <div class="imgBg">
              <img class="iconn-img" [src]="p.menu_icon" />
              <!-- [ngStyle]="{ filter: p.filter }" -->
            </div>
            <div class="col-12">
              <p class="iconTitle">{{ p.menu_name | translate }}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #flash_template>
  <div class="modal-header" *ngIf="flashData.length > 0 && flashData.length > flashindex">
    <div class="row align-items-center w-100">
      <div class="col-10">
        <h4 class="modal-title pull-left">{{ flashData[flashindex].Title }}</h4>
      </div>
      <div class="col-2 text-left">
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="flashData.length > 0 && flashData.length > flashindex">
    <img [src]="flashData[flashindex].event_image" alt=""
      [class.d-none]="flashData[flashindex].event_image.length === 0" />
    <p class="text-center multi_lines_text">
      <span *ngIf="flashData[flashindex].Discription" [innerHTML]="
          authservice.sanitizeHtml(flashData[flashindex].Discription)
        "></span>
    </p>
  </div>
</ng-template>