<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        ><ion-icon
          [ios]="'menu-sharp'"
          [md]="'menu-sharp'"
          class="menuIcon"
        ></ion-icon
      ></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ "dashboard" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start">
        <ion-menu-button>
          <ion-icon class="text-white" [ios]="'menu-sharp'" [md]="'menu-sharp'">
          </ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title>{{ "dashboard" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="dashcard">
    <ion-card-content class="dashcardContent">
      <ion-grid class="frame">
        <ion-row style="padding: 8px">
          <ion-col size="3">
            <img
              class="img-thumbnail dash"
              *ngIf="storage.get(ADNO + 'img')"
              [src]="storage.get(ADNO + 'img')"
            />
            <img
              class="img-thumbnail dash"
              *ngIf="!storage.get(ADNO + 'img')"
              src="../../assets/imgs/student.png"
            />
          </ion-col>
          <ion-col size="9">
            <p class="name">{{ teachersDetail[0]["firstname"] }}</p>
            <p class="staffCode">
              Staff Code: {{ teachersDetail[0]["staff_id"] }}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <div class="message-container" *ngIf="senditems.length > 0">
    <!-- *ngIf="senditems.length > 0" -->
    <div
      (click)="redirectToModule()"
      class="left"
      style="padding: 0px; vertical-align: middle; text-align: right"
    >
      <div style="height: 170px" class="view ion-card-rounded-right">
        <div>
          <img src="../../assets/imgs/DR.png" height="25px" width="25px" />
          <!-- src\assets\imgs\Icons_new\DR.png -->
        </div>
      </div>
    </div>
    <div class="right">
      <swiper-container
        #swiper
        (afterinit)="swiperReady()"
        (slidechange)="swiperSlideChanged($event)"
        [loop]="true"
        [pagination]="true"
      >
        <swiper-slide
          *ngFor="let smsData of senditems.slice(senditems.length - 3)"
        >
          <ion-card class="ion-card-rounded" style="height: 160px">
            <!-- *ngFor="let smsData of topMessages.data.slice(0, 1)" -->

            <ion-card-content no-padding class="frame">
              <!-- Message content section -->
              <ion-row class="dm">
                <ion-col>
                  <div class="message-content">
                    <div class="today-mes"><h2>Today Messages</h2></div>

                    <!-- <div class="name">Staff ID : {{ smsData.ADNO }}</div> -->
                    <div class="multi_lines_text">
                      Message : {{ smsData.Message | slice : 0 : 80 }}
                    </div>
                    <div
                      *ngIf="checkmp3(smsData.event_image)"
                      class="audio-section"
                    >
                      <!-- <audio controls controlsList="noplaybackrate nodownload">
                        <source
                          [src]="
                            smsData.base64.length > 0
                              ? smsData.base64
                              : smsData.event_image
                          "
                          type="audio/mpeg"
                        />
                      </audio> -->
                    </div>

                    <!-- Video section -->
                    <div
                      *ngIf="checkmp4(smsData.event_image)"
                      class="video-section"
                    >
                      <iframe
                        [src]="getSafeUrl(smsData.event_image)"
                        frameborder="0"
                        width="100%"
                        height="100%"
                        webkitallowfullscreen
                        mozallowfullscreen
                        allowfullscreen
                      ></iframe>
                    </div>

                    <!-- PDF/Excel section -->
                    <div
                      *ngIf="
                        checkpdf(smsData.event_image) ||
                        checkxls(smsData.event_image)
                      "
                      class="document-section"
                    >
                      <div class="row w-100 align-items-center m-0">
                        <div
                          [ngClass]="
                            checkpdf(smsData.event_image) ? 'pdf' : 'xls'
                          "
                        >
                          <div class="col-6" style="padding-top: 10px">
                            <a (click)="authservice.open(smsData.event_image)">
                              Click here to
                              {{
                                checkpdf(smsData.event_image)
                                  ? "open the PDF"
                                  : "Download the Excel"
                              }}
                            </a>
                          </div>
                          <div class="col-6 text-right m-0 p-0">
                            <button
                              type="button"
                              (click)="authservice.open(smsData.event_image)"
                            >
                              <div class="row w-100 align-items-center">
                                <div
                                  class="col-6 w-100 mx-0 px-0"
                                  style="padding-right: 10px"
                                >
                                  <img
                                    class="w-50 m-auto"
                                    [src]="
                                      checkpdf(smsData.event_image)
                                        ? '../../assets/imgs/speakers/spdf.png'
                                        : '../../assets/imgs/Icons_new/Microsoft Excel.png'
                                    "
                                  />
                                </div>
                              </div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ion-col>
              </ion-row>

              <!-- Header section with student name -->
              <div class="message-header">
                <div class="nameDate1" style="margin-top: 4px">
                  <ion-row>
                    <!-- <ion-col
                      size="6"
                      style="
                        align-items: flex-start;
                        justify-content: flex-start;
                        align-self: flex-start;
                        align-content: flex-start;
                      "
                    >
                      <ion-text class="text-bold">{{
                        smsData.SMSdate
                      }}</ion-text>
                    </ion-col> -->

                    <div *ngIf="smsData.event_image">
                      <ion-col
                        style="float: right"
                        class="text-right"
                        *ngIf="checkimage(smsData.event_image)"
                        (click)="setOpen(true, smsData.event_image)"
                      >
                        <div style="float: right; align-items: center">
                          <ion-text class="text-bold">View Image</ion-text>
                          <img
                            style="width: 35px !important; padding-left: 10px"
                            src="../../assets/imgs/speakers/image.png"
                            alt=""
                          />
                        </div>
                      </ion-col>
                    </div>
                  </ion-row>
                </div>
              </div>

              <!-- Date and Avatar section -->

              <!-- Modal for Image -->
              <ion-modal [isOpen]="isModalOpen">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-buttons slot="end">
                        <ion-button (click)="setOpen(false, 't')"
                          >Close</ion-button
                        >
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <div>
                      <img
                        class="card-img-top w-100"
                        [src]="modalImage"
                        alt=""
                      />
                    </div>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-card-content>
          </ion-card>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>

  <ion-grid>
    <ion-row class="align-items-center">
      <ion-col size="4" *ngFor="let p of appPages; let i = index">
        <div class="text-center">
          <div class="row" (click)="go(p.url)">
            <div class="imgBg">
              <img class="icon-img" [src]="p.icon" />
              <!-- [ngStyle]="{ filter: p.filter }" -->
            </div>
            <div class="col-12">
              <p class="iconTitle">{{ p.title | translate }}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ng-template #flash_template>
  <div
    class="modal-header"
    *ngIf="flashData.length > 0 && flashData.length > flashindex"
  >
    <div class="row align-items-center w-100">
      <div class="col-10">
        <h4 class="modal-title pull-left">{{ flashData[flashindex].Title }}</h4>
      </div>
      <div class="col-2 text-left">
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="close()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div
    class="modal-body"
    *ngIf="flashData.length > 0 && flashData.length > flashindex"
  >
    <img
      [src]="flashData[flashindex].event_image"
      alt=""
      [class.d-none]="flashData[flashindex].event_image.length === 0"
    />
    <p class="text-center multi_lines_text">
      <span
        *ngIf="flashData[flashindex].Discription"
        [innerHTML]="
          authservice.sanitizeHtml(flashData[flashindex].Discription)
        "
      ></span>
    </p>
  </div>
</ng-template>
