<ion-header [translucent]="true" *ngIf="!ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        ><ion-icon [ios]="'menu-sharp'" [md]="'menu-sharp'"></ion-icon
      ></ion-menu-button>
    </ion-buttons>
    <ion-title slot="start">{{ "dashboard" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="mt-4" *ngIf="ios">
    <ion-toolbar class="p-0">
      <ion-buttons slot="start">
        <ion-menu-button
          ><ion-icon
            class="text-white"
            [ios]="'menu-sharp'"
            [md]="'menu-sharp'"
          ></ion-icon
        ></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ "dashboard" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <img [src]="readimag"> -->
  <!-- <div class="">
    <div class="card-body card_body">
      
          <table class="table">
            <thead>
              <tr>
                <td  rowspan="2">
                  <ion-avatar class="dashboard_avatar"><img *ngIf="storage.get(ADNO+'img')" [src]="storage.get(ADNO+'img')"><img *ngIf="!storage.get(ADNO+'img')" src="../../assets/imgs/student.png"></ion-avatar>
                </td>
                <td >{{ 'name' | translate }} :<span class="bolFont"> {{teachersDetail[0]['firstname']}} </span></td>
              </tr>
              <tr>
                <td >{{ 'staff_code' | translate }}: <span class="bolFont">{{teachersDetail[0]['staff_id']}} </span></td>
              </tr>
            </thead>
            </table>

    </div>
  </div> -->

  <!-- <div class="row m-3 justify-content-center">
  <div class="col-6 p-1" >
    <div class="card mb-2 rounded-t width-c m-auto"  >
      <div class="card-body card_body p-0 mt-0">
        <div class="row align-items-center w-100 m-0">
          <div class="col-6 p-0 my-1">
            <ion-avatar class="dashboard_avatar"><img *ngIf="storage.get(ADNO+'img')" [src]="storage.get(ADNO+'img')"><img *ngIf="!storage.get(ADNO+'img')" src="../../assets/imgs/student.png"></ion-avatar>
          </div>
          <div class="col-6 px-0 py-4 my-1">
            {{ 'staff_code' | translate }}
            <br >
            {{teachersDetail[0]['staff_id']}}
            
          </div>
          <div class="col-12 text-center bgcol_0 py-1 rounded-b font-weight-bold text-white setthemes">
            {{teachersDetail[0]['firstname']}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

  <ion-card class="dashcard">
    <ion-card-content class="dashcardContent">
      <ion-grid>
        <ion-row style="padding: 8px">
          <ion-col size="3">
            <img
              class="img-thumbnail dash"
              *ngIf="storage.get(ADNO + 'img')"
              [src]="storage.get(ADNO + 'img')"
            />
            <img
              class="img-thumbnail dash"
              *ngIf="!storage.get(ADNO + 'img')"
              src="../../assets/imgs/student.png"
            />
          </ion-col>
          <ion-col size="9">
            <p class="name">{{ teachersDetail[0]["firstname"] }}</p>
            <p class="staffCode">
              Staff Code: {{ teachersDetail[0]["staff_id"] }}
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row class="align-items-center">
      <ion-col size="4" *ngFor="let p of appPages; let i = index">
        <div class="text-center">
          <div class="row" (click)="go(p.url)">
            <div class="imgBg">
              <img
                class="icon-img"
                [src]="p.icon"
                [ngStyle]="{ filter: p.filter }"
              />
            </div>
            <div class="col-12">
              <p class="iconTitle">{{ p.title | translate }}</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div class="m-1">
    <div class="blink_me">Welcome</div>
  </div> -->

  <!-- <div class=" ">
    <div class="">
      <div class="row dashboard-menu align-items-center">
        <div class="col-4 mb-1" *ngFor="let p of appPages; let i = index" [class.lasticon]="(i % 2 === 0 && i!=0 && i%3 !== 0 && i!=4 && i!=10) || i==5 || i==11" [class.fisticon]="i % 3 === 0">
          <div class=" border-0"  (click)="go(p.url)">
            <div class="text-center">
              <div class="row">
                <div class="col-12 mt-1">
                  <img class="icon-img" [src]="p.icon" [ngStyle]="{'filter':p.filter}" [class.homework]="p.title=='homework'">
                </div>
                <div class="col-12 mt-2">
                  <p >{{ p.title | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="bg-white">
    <div class="">
      <div class="row dashboard-menu align-items-center ">
        <div class="col-4  border" *ngFor="let p of appPages; let i = index"
          [class.lasticon]="(i % 2 === 0 && i!=0 && i%3 !== 0 && i!=4 && i!=10) || i==5 || i==11"
          [class.fisticon]="i % 3 === 0" [class.d-none]="checkview(p.admin)">
          <div class=" border-0" (click)="go(p.url)">
            <div class="text-center">
              <div class="row align-items-center">
                <div class="col-12 mt-1">
                  <img class="icon-img" [src]="p.icon" [ngStyle]="{'filter':p.filter}">
                </div>
                <div class="col-12 mt-1">
                  <p>{{ p.title | translate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="teachercirculars" *ngIf="storeSMSDetails.length > 0">
    <ion-card class="borbot" *ngFor="let smsData of storeSMSDetails">
      <div class="message">
        <div class="date">{{ smsData.SMSdate }}</div>
        <div class="name">Message From Admin</div>
        <div
          class="multi_lines_text"
          [innerHTML]="authservice.urlify(smsData.message)"
        ></div>
        <!-- <ion-icon [ios]="'copy-sharp'" [md]="'copy-sharp'"></ion-icon> -->
      </div>
      <img
        class="card-img-top"
        src="{{ smsData.base64 }}"
        alt=""
        *ngIf="checkimage(smsData.event_image) && smsData.base64.length > 0"
      />
      <img
        class="card-img-top"
        src="{{ smsData.event_image }}"
        alt=""
        *ngIf="checkimage(smsData.event_image) && smsData.base64.length === 0"
      />
      <div *ngIf="checkmp3(smsData.event_image)">
        <audio controls controlsList="noplaybackrate nodownload">
          <source
            src="{{ smsData.base64 }}"
            type="audio/mpeg"
            *ngIf="smsData.base64.length > 0"
          />
          <source
            src="{{ smsData.event_image }}"
            type="audio/mpeg"
            *ngIf="smsData.base64.length === 0"
          />
        </audio>
      </div>
      <div class="card-header" *ngIf="checkpdf(smsData.event_image)">
        <div class="row w-100 align-items-center m-0">
          <div class="col-6">
            {{ getfilename(smsData.event_image) }}
          </div>
          <div class="col-6 text-right m-0 p-0">
            <button
              type="button"
              class="btn btn-primary m-0 px-0"
              (click)="authservice.open(smsData.event_image)"
            >
              <div class="row w-100 align-items-center">
                <div class="col-6 w-100 mx-0 px-0">
                  <img
                    class="w-50 m-auto"
                    src="../../assets/imgs/speakers/pdf.png"
                  />
                </div>
                <div class="col-6 mx-0 px-0">Download</div>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="card-header" *ngIf="checkxls(smsData.event_image)">
        <div class="row w-100 align-items-center m-0">
          <div class="col-6">
            {{ getfilename(smsData.event_image) }}
          </div>
          <div class="col-6 text-right m-0 p-0">
            <button
              type="button"
              class="btn btn-primary m-0 px-0"
              (click)="authservice.open(smsData.event_image)"
            >
              <div class="row w-100 align-items-center">
                <div class="col-6 w-100 mx-0 px-0">
                  <img
                    class="w-50 m-auto"
                    src="../../assets/imgs/speakers/xls.png"
                  />
                </div>
                <div class="col-6 mx-0 px-0">Download</div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>

<ng-template #flash_template>
  <div
    class="modal-header"
    *ngIf="flashData.length > 0 && flashData.length > flashindex"
  >
    <div class="row align-items-center w-100">
      <div class="col-10">
        <h4 class="modal-title pull-left">{{ flashData[flashindex].Title }}</h4>
      </div>
      <div class="col-2 text-left">
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="close()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
    </div>
  </div>
  <div
    class="modal-body"
    *ngIf="flashData.length > 0 && flashData.length > flashindex"
  >
    <img
      [src]="flashData[flashindex].event_image"
      alt=""
      [class.d-none]="flashData[flashindex].event_image.length === 0"
    />
    <p class="text-center multi_lines_text">
      {{ flashData[flashindex].Discription }}
    </p>
  </div>
</ng-template>
