.date-cls {
  padding-left: 5px;
  margin-top: 20px;
}

.dropdown_select {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #909090;
}

.messageArea {
  border-radius: 4px;
  border: 1px solid #909090;
  // height: 115px;
}

.dropdown {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #909090;
}
